.container{
    position: absolute;
    background-color: lightblue;
    height: fit-content;
    inset: 0px;
}

#start{
    max-width: 500px;
    width: 300px;
    height: 50vh;
    margin: 1vh auto auto;
    text-align: center;
    color: rgb(26, 29, 38);
}
.start-title{
    padding-top: 80px;
    font-size: 30px;
    font-weight: 700;
}

.start-img {
    padding-top: 10vh;
    width: auto;
    height: 256px;
    margin: 5vh auto;
}
.start-img > img {
    width: 300px;
    height: 215px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.33);
}

.start-button {
    width: auto;
    padding: 20px 80px;
    border-radius: 8px;
    border: 2px solid rgb(26, 29, 38);
    color: rgb(26, 29, 38);
    font-size: 24px;
    text-align: center;
    font-family: GmarketSansBold;
    font-weight: bold;
    line-height: 1.08;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.start-button:hover {
    transform: scale(1.05);
}