#result {
    background-color: inherit;
    display: none;
    max-width: 500px;
    width: 300px;
    height: fit-content;
    margin: 1vh auto auto;
    text-align: center;
    color: rgb(26, 29, 38);
}
#capture {
    background-color: inherit;
    padding-bottom: 10px;
}
.result-title {
    padding-top: 40px;
    font-size: 30px;
    font-weight: 700;
}

.result-img {
    padding-top: 3vh;
    width: 220px;
    height: 220px;
    margin: 3vh auto;
}

.result-img > img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.33);
}

.result-name {
    display: none;
}

.result-desc {
    margin-top: 3vh;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 600;
}

.result-department {
    width: 250px;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 8px 0px;
    margin: 3vh auto;
    font-size: 17px;
    line-height: 1.3;
    font-weight: 600;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.33);
}

.restart-button,
.save-button {
    width: auto;
    margin-top: 2vh;
    padding: 10px 30px;
    border-radius: 8px;
    border: 2px solid rgb(26, 29, 38);
    color: rgb(26, 29, 38);
    font-size: 15px;
    text-align: center;
    font-family: GmarketSansBold;
    font-weight: bold;
    line-height: 1.08;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.save-button{
    margin-left: 10px;
}

.restart-button:hover,
.save-button:hover {
    transform: scale(1.05);
}

